#contact {
    padding: 65px 0;
}
.container1 {
    width: 100%;
    margin: 0 auto;
}
.title-contact h1 {
    color: #f38320;
    font-size: 30px;
    padding: 0 15px;
}
#footer {
    background: #fff;
    color: #191919;
    padding: 10px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    border-top: 1px solid #e2e2e2;
}
.wrapper-icon-footer {
    padding-bottom: 5px;
}
.wrapper-icon-footer .nav-link {
    padding: 8px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
