ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1{
    color: #f38320
}
#charity .flex-text-banner h1{
    margin: 0 0 10px 0;
}
.header-icon-1, .header-icon-2{
    width: 27px;
    margin-bottom: 3px;
}
.slideshow-container a.next, .slideshow-container a.prev{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    line-height: 45px;
    background-color: rgba(0, 0, 0, 0.3);
}
.slideshow-container a.prev{
    left: 0;
    right: unset;
}
.stibpay-char, .stibcharity-char, .stibuniversal-char{
    color: #fff;
}
#charity .flex-text-banner p{
    color: #fff;
}
/* .active {
    opacity: 1 !important;
    visibility: visible !important;
} */

.img-fluid {
    width: 100%;
}

.navbar-logo {
    width: 90px;
}

#div-all-web {
    position: relative;
}

.wrapper-content {
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.wrapper-scrolltop {
    position: fixed;
    z-index: 1010;
    bottom: 50px;
    right: 10px;
    background: #8fc342;
    color: #fff;
    border-radius: 25px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.wrapper-scrolltop i {
    /* padding: 12px 14px 15px 16px; */
    width: 45px;
    height: 45px;
    font-size: 43px;
    cursor: pointer;
    border-radius: 25px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/* * {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
} */

.button {
    text-align: center;
}

.click {
    text-align: center;
}

.example_e {
    border: none;
    color: #f38320;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border: #f38320 1px solid;
    font-size: 15px;
    font-weight: 500;
}

li.nav-item {
    font-size: 17px;
    text-transform: uppercase;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.example_e:hover {
    color: #fff;
    background: #f38320;
}

a.example_e {
    text-decoration: none;
}

.background-banner .wrapper-img {
    max-width: 1100px;
}

#icon_menu,
#icon_menu_close {
    display: none!important;
}

/* .topnav {
    display: flex;
    text-decoration: none;
} */

.topnav a {
    float: left;
    color: darkorange;
    padding: 10px;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    background: #f5f5f5;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #cacaca4d;
    padding: 0px 15px;
}

.menu-content {
    display: flex;
    flex-direction: row;
    float: right;
    padding-inline-start: 68%;
}

.nav-link {
    padding: 15px 10px;
    color: #f38320;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block;
    font-weight: 450;
    font:  sans-serif;
}
.nav-link:hover{
    color: #b3b2b2;
    
}

.grid-item {
    align-items: center;
    /* padding-top: 88px; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

li {
    list-style: none;
}

.img-fluid {
    max-width: 100%;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/* p2p */
.leftContentText {
    margin: 46px -17%;
    width: 44%;
    padding: 55px 208px;
    font-family: Poppins, sans-serif !important;
    /* display: -webkit-flex; */
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
}

.wrapper-img-future {
    padding: 30px;

}

.bannerfb {
    /* margin-top: 33px; */
    object-fit: cover;
}

.leftimg {
    float: left;
    width: 50%;
}

.bigPhone {
    margin: -16% -157px;
    float: right;
    width: 50%;
    padding: 15px -8px;
    -webkit-animation: fadein 7s;
    animation: fadein 7s;
}

p.sub-title {
    font-size: 15px;
    color: white;
}

#modal.active{
    visibility: visible;
    opacity: 1;
}

.img-toggler-close{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

video.heroVid {
    width: 50%;
}

/* token */
.grid-2-col {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-container {

    grid-template-columns: 50% 50%;
    /* grid-template-columns: 1fr 1fr; */
    display: -ms-grid !important;
    display: grid !important;
}
div#future {
    padding: 55px 0;
}
.wrapper-img-future img,
.wrapper-img-future .tooltip,
#ani-title-wrapper .wrapper-img {
    cursor: pointer;
}

.tooltip,
.tooltip-phi {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 30px 55px;
    border-radius: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 1;
}

.title-future h1 {
    margin-bottom: 15px;
    font-size: 35px;
    padding-left: 15px;
    position: relative;
}

.title-future h1:before {
    content: '';
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f38320;
}

.wrapper-content-future {
    padding: 0 75px;
}

.wrapper-img-future {
    padding: 30px;
    border: 1px solid #e48a3a;
}

.wrapper-img-future img,
.wrapper-img-future .tooltip,
#ani-title-wrapper .wrapper-img {
    cursor: pointer;
}
.pos-relative {
    position: relative !important;
}

.wrapper-img-future:hover .tooltip,
.wrapper-img:hover .tooltip-phi {
    opacity: .8 !important;
    visibility: visible !important;
}

.tieude-2 {
    padding: 24px;
    background: #fdcb6e;
    -webkit-box-shadow: darkorange;
    box-shadow: 15px 15px 50px #0000001a;
    /* margin: 30px 0; */
    width: 80%;
    margin: 20px auto;
}

.tieude-2 p {
    color: #fff;
}

.modal-content {
    /* overflow-y: auto; */
    width: 100%;
    height: 100%;
}

img#img-roadmap-mobile {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
}

.tieude-future {
    position: absolute;
    /* bottom: 0; */
    left: 75px;
    padding: 13px;
    background: #c67c3b;
    -webkit-box-shadow: darkorange;
    box-shadow: 15px 15px 50px #0000001a;
}

.tieude-future p {
    color: azure;
}

.wrapper-img.img-funds-modal {
    height: 100%;
    /* justify-content: center; */
}

/* end token */
/* start charity */
.wrapper-text-banner {
    height: 130vh;
    background-image: url(../img/back/24863419-hands-holding-green-heart-shaped-tree-tree-arranged-in-a-heart-shape-love-nature-save-the-world-heal.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    opacity: 1;
}

.flex-text-banner.text-center {
    color: black;
    text-align: center;
    flex: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(255, 254, 255, 0.25);
    padding: 25px 10px;
    /* border-radius: 25px; */
}

.button_e {
    order: none;
    /* background: #ffffff; */
    color: #8BC34A;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border: #8BC34A 2px solid;
    font-size: 15px;
    font-weight: 500;
}

.button_e:hover {
    background: #8BC34A;
    color: #fff;
}

a.button_e {
    text-decoration: none;
}

/* end charity */
.grid-3-col {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.title-contact h1 {
    color: #f38320;
    font-size: 30px;
    padding: 0 15px;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.copy-right {
    text-align: center;
}

/* profile */
.profile { 
    height: auto;
    width: 100%;
    background: #f5f5f5;
}

/* ---- slideshow ----- */
/* Slideshow container */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* .active {
background-color: #717171;
} */
/* .slideshow-container {
    margin-top: 50px;
} */

.item {
    width: 50%;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -9px;
}

.topnav{
    display: flex;
    text-decoration: none;
}

#p2p{
    background: rgb(0, 0, 0);
    display: flex;
    margin-top: 50px;
    padding: 30px 0;
}

#p2p .item{
    width: 50%;
    text-align: center;
    height: 70vh;
}

#p2p .item img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}

#p2p .item video{
    width: 60%;
    height: 100%;
}

#p2p .item p{
    color: #fff;
}

#charity .banner-content img.background-charity{
    width: 100%;
}
* {
    box-sizing: border-box
}

#charity .banner-content {
    position: relative;
}

#charity .banner-content:before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #000;opacity: .6;}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 70%;
    text-align: center;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev-next{
margin: 0 auto;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8)!important;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-container{
    margin-bottom: 25px;
}
.team-img{
    width: 100%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/* medium screen */
@media(max-width: 1200){

} 
/* medium screen */



/* mobie screen */
/* mobie screen */

@media (max-width: 1024px) {   
    .flex-text-banner.text-center{
        width: 100%;
        border-radius: 0;
    }
    .profile {   
        width: 100%;
        background: #f5f5f5;
    }
    .navbar navbar-default {
        width: 500px;
    }
    .tieude-future {
        visibility: hidden;
    }
    .grid-item {
        padding-top: 15px;
    }
    .grid-container.grid-2-col {
        display: grid;
        grid-template-columns: auto;
        /* display: table-column-group; */
    }
    .sub-title {
        padding-top: 100px;
    }
    /* hambuger */
    .container_header .sub_menu.active {
        visibility: visible !important;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    /* p2p */
    #p2p{
        display: block;
    }

    #p2p .item{
        width: 100%;
        flex-direction: column;
    }
    .swap-div{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    /* change language */
    
  
}
/* tablet screen */
@media(max-width: 968px){
    .flex-text-banner.text-center{
        width: 80%;
    }
}
/* tablet screen */
@media (max-width: 768px) {
    .navbar navbar-default {
        width: 500px;
        
    }
    .dual-lang{
        left: 90px!important;
    }
    h1{
        font-size: 25px!important;
    }
    
    .header {
        padding: 0px 7px;
    }
    .slideshow-container{
        width: 100%;
    }
    .team-img{
        width: 100%;
    }
    h2{
        font-size: 40px!important;
    }
    .tieude-2{
        width: 100%;
    }
   .dot{
       visibility: hidden;
   }
   .prev, .next{
       visibility: hidden;
   }
   .slideshow-container{
    text-align: center;
    width: auto;
   }
    .flex-text-banner.text-center{
        width: 100%;
        border-radius: 0;
        font-size: 11px;
    }
    .tieude-future {
        visibility: hidden;
    }
    .profile {  
        height: auto;
        background: #f5f5f5;
    }
    .grid-item {
        width: 100%;
        padding-top: 15px;
    }
    .flex-text-banner.text-center {
        width: 100%;
        border-radius: 0;
    }
    .grid-container.grid-2-col {
        display: grid;
        grid-template-columns: auto;
        /* display: table-column-group; */
    }
    div#icon_menu { 
        width: 30px;
     
    }
    #icon_menu {
        display: block!important;
       
    }
    #myTopnav.active {
        visibility: visible;
        opacity: 1;
    }
    .sub-title {
        padding-top: 100px;
    }   
    #myTopnav {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    /* hambuger */
    #icon_menu_close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1000;
        margin-right: 3px;
    }
    .container_header .sub_menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #191919;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    .container_header .sub_menu.active {
        visibility: visible !important;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    #icon_menu {
        cursor: pointer;
    }
    #icon_menu_close.active {
        display: block !important;
    }
    .topnav {
        flex-direction: row;
    } 
    /* hambuger */
    #icon_menu_close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1000;
        margin-right: 3px;
    }
    .container_header .sub_menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #191919;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    .container_header .sub_menu.active {
        visibility: visible !important;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    #icon_menu {
        cursor: pointer;
    }
    #icon_menu_close.active {
        display: block !important;
    }
    /* p2p */
    .topnav {
        flex-direction: row;
    }
    .footerL {
        font-size: 11px;
    }
    .grid-3-col {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .navbar-logo {
        width: 80px;
    }
    .footerL.text-center {
        font-size: 11px;
        text-align: center;
    }
 
}
/* @media (max-width: 320px) {
    .header {
        height: 69px;
    }
    .flex-text-banner.text-center {
        width: 100%;
        border-radius: 0;
    }
    a.button_e {
    }
    .banner-content {
        margin: -27px;
    }
    .profile {
        height: 65vh;
        width: 100%;
        background: #f5f5f5;
    }
 
} */
@media (max-width: 410px){
   
}
@media only screen and (max-width: 300px) {
    .prev,
    .next {
        font-size: 11px
    }
}